/* Webfont: Chandrika-Regular */@font-face {
    font-family: 'Chandrika';
    src: url('Chandrika-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('Chandrika-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

